.scroll{
    margin-top: 10px;
    width: 100% ;
    max-height: 38em ;
    overflow: hidden ;
    overflow-y: scroll;
}

.qty_input{
    width: 50px;
    border-radius: 4px;
    border: 1px solid rgb(83, 15, 241);
}
